@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Serif JP', serif;
  background-color: var(--bg-black-50);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Noto Serif JP', serif;
}

:root {
  --primary-color: rgb(199, 57, 57);
  --secondary-color: yellow;
  --tertiary-color: blue;
  --bg-black-50: #eff0f4;
  --bg-black-100: #dddddd;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.cart {
  background-color: var(--primary-color);
  color: white;
  margin-left: 0;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  align-items: initial;
}

.grid-item {
  padding: 10px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 5px;
  align-items: initial;
}

.grid-item-2 {
  padding: 10px;
}

.callout-message {
  text-align: center;
  color: var(--primary-color);
  display: none;
}

/* Heading Section Starts */
.heading-section {
  box-shadow: var(--outer-shadow);
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.heading-section .heading {
  display: flex;
  align-items: center;
}

.heading-section .heading img {
  width: 40px;
  margin: 20px;
}

.heading-section .heading h1 {
  text-transform: capitalize;
  font-size: 16px;
  margin: 10px;
}

.heading-section .search-bar {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.heading-section .search-bar input {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  width: 400px;
  margin-right: 10px;
}

.heading-section .nav-bar {
  display: flex;
}

.heading-section .nav-bar ul {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 100px;
}

.heading-section .nav-bar ul a {
  color: black;
  margin-right: 15px;
  margin-left: 20px;
}

.heading-section .nav-bar ul a:hover {
  color: var(--primary-color);
}
/* Heading Section Ends */

/* Left-tab Section Starts */
.left-tab-section {
  margin-left: 80px;
  margin-top: 100px;
}

.left-tab-section img {
  width: 300px;
}

.left-tab-section .left-tab ul {
  padding: 10px;
  box-shadow: var(--outer-shadow);
  background-color: white;
  max-width: 250px;
  padding-bottom: 105px;
}

.left-tab-section .left-tab ul li {
  margin-top: 15px;
}

.left-tab-section .left-tab ul li a {
  color: black;
}

.left-tab-section .left-tab a:hover {
  color: var(--secondary-color);
}
/* Left-tab Section Ends */

/* Top Product Section Starts */
.top-product-section {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 70px;
  background-color: white;
  box-shadow: var(--outer-shadow);
  height: 500px;
}

.top-product-section .top-product {
  margin: 5px;
}

.top-product-section .top-product h2 {
  margin: 30px;
  padding-top: 10px;
  color: var(--primary-color);
}

.top-product-section .product-gallery {
  margin-left: 5px;
  margin-right: 10px;
}

.top-product-section .product-gallery img {
  width: 200px;
  margin: 10px;
}

.top-product-section .product-gallery .img {
  margin: 10px;
}

.top-product-section .product-gallery .img .old-price {
  text-decoration: line-through;
}

.top-product-section .product-gallery .img h4 {
  margin-left: 10px;
  text-align: center;
}

.top-product-section .product-gallery .img button {
  margin-left: 55px;
  padding-left: 40px;
  padding-right: 40px;
}

.top-product-section .product-gallery .pricing {
  display: flex;
  margin-bottom: 10px;
  margin-left: 50px;
  text-align: center;
}

/* Top Product Section Ends */
